---
const blogName = "pixel-past-present";
const projectTitle = "Pixel Past Present: Retro Gaming Rediscovered";
---

<header class="bg-gray-800 text-white py-4">
  <div class="container mx-auto flex items-center justify-between">
    <a href="/" class="text-2xl font-bold hover:text-gray-300">{projectTitle}</a>

    <nav>
      <ul class="flex space-x-6">
        <li>
          <a href="/" class="hover:text-gray-300">Home</a>
        </li>
        <li>
          <a href="/blog" class="hover:text-gray-300">Blog</a>
        </li>
        <li>
          <a href="/reviews" class="hover:text-gray-300">Reviews</a>
        </li>
        <li>
          <a href="/history" class="hover:text-gray-300">History</a>
        </li>
        <li>
          <a href="/community" class="hover:text-gray-300">Community</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
